* {
  color: black;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* for navigation */
.header {
  height: 50px;
  /* background-color: #CCCCFF ; */
}

.header a {
  font-size: 15px;
  padding-top: 17px;
  color: white;
  float: right;
  padding-right: 120px;
  /* margin-right: 50px; */
}

#profile {
  font-size: 15px;
  float: left;
  padding-top: 17px;
  padding-left: 82%;
}

.subheader {
  height: 100px;
  padding-top: 15px;
  margin-left: 80px;
}

#webName {
  padding-left: 50px;
  padding-right: 50px;
  float: left;
}

#home {
  padding-top: 3px;
  padding-right: 5%;
  float: left;
}

#cart {
  padding-top: 3px;
  float: left;
}

#navi {
  padding-left: 40%;
}

a {
  text-decoration: none;
}

a h3:hover, a p:hover {
  color: #CCCCFF;
}

#sms {
  word-spacing: 16pt;
  font-size: 24px;
  float: right;
  padding-right: 120px;
}

/* main content */
.mainContent {
  height: 100%;
}

.mainContent section {
  float: left;
  padding-left: 150px;
}

#search {
  font-size: 16px;
  height: 20px;
  width: 300px;
}

button {
  font-size: 18px;
  height: 24px;
  width: 25px;
}

/* footer */
footer {
  border-top: solid 1px;
  height: 10px;
}

/* admin */
table {
  padding: 20px;
  margin: 20px;
  border-collapse: collapse;
  width: 100%;
  color: #588c7e;
  font-family: monospace;
  font-size: 25px;
  text-align: left;
}

th {
  background-color: #588c7e;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* form */
#content {
  width: 50%;
  margin: 20px auto;
  border: 1px solid #cbcbcb;
}

form {
  width: 50%;
  margin: 20px auto;
}

form div{
  margin-top: 5px;
}

#img_div {
  width: 80%;
  padding: 5px;
  margin: 15px auto;
  border: 1px solid #cbcbcb;
}

#img_div:after {
  content: "";
  display: block;
  clear: both;
}

img {
  float: left;
  margin: 5px;
  width: 300px;
  height: 140px;
}
